@import "tailwindcss";

@theme {
  --color-primary: #0f172aff;
  --color-primary-foreground: #f8fafc;
  --color-destructive: #ef4444ff;
  --color-destructive-foreground: #f8fafc;
  --color-muted: #f3f4f6ff;
  --color-muted-foreground: #817f84ff;
  --color-warning: #fbbf24ff;
  --color-success: #22c55eff;
  --color-accents: #f3f4f6ff;
  --color-border: #e8eaedff;
  --color-ring: #d1d5dbff;
  --color-background: #ffffff;
  --color-ai: #75ac9d;

  --animate-rotate: rotate 0.3s ease-out;
  @keyframes rotate {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fbfcfcff;
}

a {
  color: inherit;
  text-decoration: none;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: 600;
  line-height: 2;
}

.markdown h1 {
  font-size: 1.2rem;
}

.markdown h2 {
  font-size: 1.1rem;
}

.markdown h3 {
  font-size: 1rem;
}

.markdown ul,
.markdown ol {
  margin-left: 1.4rem;
}

.markdown ul {
  list-style: disc;
}

.markdown ol {
  list-style: decimal;
}

.markdown a {
  color: #3a86ff;
  text-decoration: underline;
  font-weight: 600;
}

.markdown a:hover {
  color: #4361ee;
}

.markdown code {
  @apply bg-gray-100;
  font-family: var(--font-sourceCode);
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 0.1rem 0.4rem;
}

::selection {
  @apply bg-gray-200;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply border-2 border-white;
  border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}
